<div class="container">
    <div class="jumbotron">
        <h3>Simple Workouts!</h3>
    </div>

    <div class="row">
        <div class="col-md-4">
                <div class="card" >
                        <img class="card-img-top" src="/assets/img/pushups.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Push Ups</h4>
                        </div>
                    </div>    
        </div>
        <div class="col-md-4">
            <div class="card" >
                    <img class="card-img-top" src="/assets/img/situps.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Sit Ups</h4>
                    </div>
                </div>    
      </div>
      <div class="col-md-4">
          <div class="card" >
                  <img class="card-img-top" src="/assets/img/jumpingjacks.jpg" alt="Card image cap">
                  <div class="card-body">
                      <h4 class="card-title">Jumping Jacks</h4>
                  </div>
              </div>    
      </div>
      <div class="col-md-4">
          <div class="card" >
                  <img class="card-img-top" src="/assets/img/running.png" alt="Card image cap">
                  <div class="card-body">
                      <h4 class="card-title">Running</h4>
                  </div>
              </div>    
      </div>
      <div class="col-md-4">
          <div class="card" >
                  <img class="card-img-top" src="/assets/img/squats.png" alt="Card image cap">
                  <div class="card-body">
                      <h4 class="card-title">Squats</h4>
                  </div>
              </div>    
      </div>
    </div>                
</div>