<div class="container">
    <div class="jumbotron">
        <h1 id="greetings" class="display-3">Workouts Tracker</h1>
    </div>
    <p class="lead">This is where you can manage your workouts.</p>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header" id="default-Exercises">
                    Exercises
                </div>
                <ul class="list-group list-group-flush" id="listOfExercises">
                    <li class="list-group-item" id="default-message">You don't any exercises.</li>
                </ul>
            </div>
        </div>
    </div>

    

    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                <div class="card">
                    <div class="card-header" id="completed-Exercises">
                        Finished Exercises
                    </div>
                    <ul class="list-group list-group-flush" id="completedExercises">
                        <li class="list-group-item" id="default-message">You haven't completed any exercises.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>