<div class="container">
        <div class="jumbotron">
            <h3>Simple Training</h3>
            <p>Welcome to Simple Training!</p>
        </div>

        <div class="row">
            <div class="col-md-4">
                    <div class="card" >
                            <img class="card-img-top" src="/assets/img/list.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">List of Exercises</h4>
                                <p class="card-text">A list of simple exercises to can be done without any weights!</p>
                                <a routerLink="/list" class="btn btn-primary">Click Here!</a>
                            </div>
                        </div>
                        
            </div>
            <div class="col-md-4">
                    <div class="card" >
                            <img class="card-img-top" src="/assets/img/exercisetodo.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Exercise List Tracker</h4>
                                <p class="card-text">A tracker that will allow you to log all of your exercises!</p>
                                <a routerLink="/tracker" class="btn btn-primary">Let's Exercise!</a>
                            </div>
                        </div>
                
            </div>
        </div>                
    </div>